<main class="page">
  <section class="detail">
    <div class="detail-header">
      <h1>Scene <%= @scene.id %></h1>
      <div class="detail-actions">
        <% if current_user == @scene.user %>
          <%= link_to "Edit", edit_scene_path(@scene), class: "btn ghost" %>
        <% end %>
      </div>
    </div>
    <p class="meta-label">Author: <%= @scene.user.name %></p>
    <article class="panel">
      <p><%= @scene.text %></p>
    </article>
  </section>
</main>
